{% extends "layout.html" %}

{% block title %}Register{% endblock title %}

{% block body %}

<h3>Register</h3>
<form action="/register" method="POST">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password"/>
    </div>
    {% if message %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Register</button>
</form>





{% endblock %}